arrow==0.15.5
astroid==2.4.0
attrs==19.1.0
aws-lambda-builders==1.1.0
aws-sam-cli==1.2.0
aws-sam-translator==1.26.0
aws-xray-sdk==2.4.3
awscli==1.18.133
binaryornot==0.4.4
boto==2.49.0
boto3==1.14.56
botocore==1.17.56
bw-jwt-auth==0.1
certifi==2019.11.28
cffi==1.13.2
cfn-lint==0.29.4
chardet==3.0.4
chevron==0.13.1
Click==7.0
colorama==0.4.3
cookiecutter==1.6.0
coverage==5.0.4
cryptography==2.8
dateparser==0.7.4
decorator==4.4.0
docker==4.2.0
docutils==0.14
ecdsa==0.15
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
idna==2.8
importlib-metadata==0.17
iniconfig==1.0.1
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.3
jinja2-time==0.2.0
jmespath==0.9.4
jsondiff==1.1.2
jsonpatch==1.25
jsonpickle==1.3
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
jwcrypto==0.8
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
more-itertools==7.0.0
moto==1.3.14
networkx==2.4
packaging==19.0
pluggy==0.13.1
poyo==0.5.0
py==1.9.0
pyasn1==0.4.7
pycodestyle==2.6.0
pycparser==2.19
pylint==2.6.0
pyparsing==2.4.0
pyrsistent==0.16.0
pytest==6.0.1
pytest-cov==2.10.1
pytest-flask==1.0.0
python-dateutil==2.8.0
python-jose==3.1.0
python-jwt==3.3.0
pytz==2019.3
PyYAML==5.2
regex==2020.4.4
requests==2.24.0
requests-mock==1.8.0
responses==0.10.12
rsa==3.4.2
s3transfer==0.3.2
serverless-wsgi==1.7.5
serverlessrepo==0.1.9
six==1.12.0
sshpubkeys==3.1.0
toml==0.10.0
tomlkit==0.5.8
tzlocal==2.0.0
urllib3==1.25.2
wcwidth==0.1.7
websocket-client==0.57.0
Werkzeug==0.16.0
whichcraft==0.6.1
wrapt==1.11.1
xmltodict==0.12.0
zipp==0.5.1
